<footer class="main-footer">
  <div class="container">
      <!--Widgets Section-->
      <div class="widgets-section">
          <div class="row clearfix">

              <!--Column-->
              <div class="big-column col-lg-6 col-md-12 col-sm-12">
                  <div class="row clearfix">

                      <!--Footer Column-->
                      <div class="footer-column col-lg-7 col-md-6 col-sm-12">
                          <div class="footer-widget about-widget">
                              <div class="logo">
                                  <a [routerLink]="['/']">  <img src="/assets/images/logo.png" style="max-height: 70px;" alt="logo" class="logo" routerLink="/">
                                  </a>
                              </div>
                              <div class="text">
                                  <p>Lorem ipsum dolor amet consectetur adipisicing elit sed eiusm tempor incididunt ut labore dolore magna aliqua enim ad minim veniam.</p>
                                  <p>Quis nostrud exercitation ullam aboris nisi aliquip exea commodo consequat duis aute irure.</p>
                              </div>
                          </div>
                      </div>

                      <!--Footer Column-->
                      <div class="footer-column col-lg-5 col-md-6 col-sm-12">
                          <div class="footer-widget links-widget">
                              <h2>Quick Links</h2>
                              <ul class="footer-list">
                                  <li><a [routerLink]="['/']">Home</a></li>
                                  <li><a [routerLink]="['/shop']">Shop</a></li>
                                  <li><a [routerLink]="['/test-error']">Errors</a></li>
                                  <li><a [routerLink]="['/admin']">Admin</a></li>
                              </ul>
                          </div>
                      </div>

                  </div>
              </div>

               <!--Column-->
              <div class="big-column col-lg-6 col-md-12 col-sm-12">
                  <div class="row clearfix">

                      <!--Footer Column-->
                      <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                          <div class="footer-widget gallery-widget">
                              <h2>Gallery</h2>
                              <div class="widget-content">
                                  <div class="http://t.commonsupport.com/morris/images-outer clearfix">
                                      <!--Image Box-->
                                      <figure class="image-box"><a href="#" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="/assets/images/gal1.png" alt=""></a></figure>
                                      <!--Image Box-->
                                      <figure class="image-box"><a href="#" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="/assets/images/gal6.png" alt=""></a></figure>
                                      <!--Image Box-->
                                      <figure class="image-box"><a href="#" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="/assets/images/gal3.png" alt=""></a></figure>
                                      <!--Image Box-->
                                      <figure class="image-box"><a href="#" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="/assets/images/gal4.png" alt=""></a></figure>
                                      <!--Image Box-->
                                      <figure class="image-box"><a href="#" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="/assets/images/gal5.png" alt=""></a></figure>
                                      <!--Image Box-->
                                      <figure class="image-box"><a href="#" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="/assets/images/gal2.png" alt=""></a></figure>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <!--Footer Column-->
                      <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                          <div class="footer-widget info-widget">
                              <h2>Contact Info</h2>
                              <ul class="info-list">
                                  <li>482 Rue Emile Grevet, 62780 Cucq</li>
                                  <li>+(33)7-82-03-29-17</li>
                                  <li>alexismoren62@hotmail.com</li>
                              </ul>
                              <!-- Social Links -->
                              <ul class="social-links">
                                  <li class="google"><a href="#"><span class="fab fa-google-plus-g"></span></a></li>
                                  <li class="facebook"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                  <li class="instagram"><a href="#"><span class="fab fa-instagram"></span></a></li>
                                  <li class="twitter"><a href="#"><span class="fab fa-twitter"></span></a></li>
                              </ul>
                          </div>
                      </div>

                  </div>
              </div>

          </div>
      </div>
  </div>

  <!-- Footer Bottom -->
  <div class="footer-bottom">
      <div class="container">
          <div class="row clearfix">

              <div class="column col-lg-6 col-md-12 col-sm-12">
                  <div class="copyright"><span class="theme_color">EvilSpartans Web Designer</span> &copy; 2019 All Right Reserved</div>
              </div>
              <div class="column col-lg-6 col-md-12 col-sm-12">
                  <ul class="footer-nav">
                      <li><a href="#">Terms of Service</a></li>
                      <li><a href="#">Privacy Policy</a></li>
                  </ul>
              </div>

          </div>
      </div>
  </div>

</footer>
